body{
}
/* 1st layer containing the logo + 5 film festival logos*/
.topbar {
    float: left;
    width: 100%;
    height: 135px;
    background-color: #ffffff;
    margin: 0 auto;
    display: inline-block;
}

.logo{
	height: 100px;
	float: left;
	margin: 0;
	padding: 0;
}

.filmfest{
	float: right;
	height: 100px;
	margin: 0;
	padding: 0;
}


/* 2nd layer containing navigation and links*/
.clearfix:after{
	visibility: hidden;
	display: block;
	clear: both;
	content: "";
	height: 0;
	font-size: 0;
}

nav{
	background-color: #404040;
	font-family: helvetica, sans-serif;
	display: inline-block;
	width: 100%;
	margin: 0 auto;

}

nav a:hover{
	background-color: #a6a6a6;
}
nav a{
	background-color: #737373;
	text-align: center; 
	color:#d9d9d9;
	font-size: 32px;
	text-decoration: none;
	display: block;
	float: left;
	margin: 20px 0 20px 0;
	padding: 10px 0px 10px 0px;
	width: 25%;
}

/*3rd level and main section on each page*/

.hobo{
	height: 360px;
	width: 100%;
	display: block;
	margin: 0 auto;
	background-color: #0d0d0d;
	background-size: cover;
}

img{
	display: block;
	margin: 0 auto;
	filter: grayscale(50%);
}

/*.wrapper{
	background-color: rgba(0,0,0, .6);
}
*/
/*3rd level on about page*/

.about{
	height: 362px;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	background-color: #0d0d0d;
}

.synopsis{
	font-family: helvetica, sans-serif;
	font-size: 1.5em;
	color: #d9d9d9;
	text-align: left;
	padding-left: 3em;
	float: left;
	width: 30%;
	height: 100%;

}

.femme{
	float: right;
	padding-right: 3em;
	margin: 0;
	padding: 0;
}


/*4th level with the film title*/

section{
	display: block;	
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #404040;
}

h1{
	font-size: 70px;
	font-family: 'VT323', sans-serif;
	text-transform: capitalize;
	text-align: center;
	/*font-family: 'Press Start 2P', cursive, sans-serif;*/
	color: #d9d9d9;
	background-color: #404040;
	margin: 0;

}

h2{
	font-size: 40px;
	font-family: 'VT323', sans-serif;
	text-transform: capitalize;
	text-align: center;
	color: #d9d9d9;
	background-color: #404040;
	padding-bottom: .5em;
}

footer{
	color: #000000;
	height: 1em;
}
 input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      float: right;
    }

    input[type="submit"] {
      background: red;
      color: white;
    }